/*----------------------------
         Add CSS file
----------------------------*/
@import "../plugins/bootstrap/css/bootstrap.min.css";
@import "../plugins/fontawesome/css/all.min.css";
@import "../plugins/swiper-slider/swiper-bundle.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');


:root {
    --red:#DC2626;
    --green:#8DC63F;
    --orange:#F8983E;
    --pink:#CD3455;
    --cyan:#00B6D0;
    --black:#040708;
    --black1:#000;
    --gray:#BCBEC0;
     --white:#ffffff;
    --border:#E5E7EB;
    --body:#F2F2F2;
   
}



/*----------------------------
   element      
----------------------------*/

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html { text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;}
*{margin:0; padding:0}
a{ text-decoration:none;}
a:hover{ text-decoration:none !important;}
header, nav, section, article, aside, footer { display:block;}
html {font-size: 100%;}
body {font-size: 14px;background:var(--black1);    font-family: "DM Sans", sans-serif;
line-height: 26px;color:#455A64;-webkit-font-smoothing: antialiased;font-weight: normal;}
h1, h2, h3, h4, h5, h6 {padding: 5px 0 15px 0;color: #455A64;-webkit-font-smoothing: antialiased;}
:-ms-input-placeholder{color: #000;}



/*----------------------------
         Header
----------------------------*/

.header{background: var(--white); padding: 18px 0; position: sticky; top: 0; z-index: 9; border-bottom: 1px solid rgba(0,0,0,0.05); transition: 0.4s ease; }
.header .container{max-width: 95%;}
.navbar-brand img{height:50px; }
.header .navbar-nav{gap: 2px; }
.header .nav-item{position: relative; }
.header .nav-link{color: var(--black); font-size: 16px; font-weight: 600; padding:8px 10px !important;font-family: "JetBrains Mono", monospace; transition: all 0.3s ease; position: relative;}
.header .nav-link:hover{color: var(--cyan) !important; transform: translateY(-2px); }
.header .nav-item.active .nav-link{color: var(--cyan); }
.btn-start{background:var(--cyan); color: var(--white); font-family: "JetBrains Mono", monospace;text-decoration: none; padding: 12px 15px; border-radius: 0px; font-size: 14px; font-weight: 700;  position: relative; overflow: hidden; transition: all 0.4s ease; box-shadow: 0 4px 13px rgba(7,28,53,0.05); }
.btn-start::before{content:""; position:absolute; top:0; left:-100%; width:100%; height:100%; background: linear-gradient(120deg, transparent, rgba(255,255,255,0.25), transparent ); transition:0.6s; }
.btn-start:hover::before{left:100%; }
.btn-start:hover{transform: translateY(-3px); color: var(--white); box-shadow: 0 4px 13px rgba(7,28,53,0.05); }



/* Dropdown */
.header .navbar-nav .dropdown-menu {
    border: none;
    padding: 10px 0;
    min-width: 220px;
    box-shadow: 0 10px 25px rgba(0,0,0,.12);
    border-radius: 8px;
}

.header .navbar-nav .dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
}

.header .navbar-nav .dropdown-item:hover {
    background: var(--cyan);
    color: white;
}


/* Desktop hover dropdown */
@media (min-width:992px){

    .header .navbar-nav .dropdown:hover .dropdown-menu{
        display:block;
        margin-top:0;
    }

}


/* Mobile */
@media(max-width:991px){

.header .container {
max-width: 100%;
}

.navbar-collapse{
background:#fff;
padding:20px;
margin-top:15px;
box-shadow:0 10px 20px rgba(0,0,0,.08);
border-radius:10px;
}

.navbar-nav{
gap:0;
}

.header .navbar-nav .nav-link{
padding:12px 0 !important;
}

.btn-start{
display:inline-block;
margin-top:15px;
}

.header .navbar-nav .dropdown-menu{
box-shadow:none;
border-left:2px solid var(--cyan);
margin-left:15px;
}

}



/*----------------------------
         FOOTER
----------------------------*/

.footer {
background:url(../images/ser-bg.svg) var(--black);
background-size:20%;
padding: 70px 0 30px;
border-top:10px solid var(--green);
border-radius:  200px 200px 0 0;
}
.footer-brand {
color: var(--white);
font-size: 1rem;
font-weight: 600;
display: flex;
align-items: center;
gap: 8px;
margin-bottom: 14px;
}
.footer-brand .brand-icon {
width: 26px;
height: 26px;
background: var(--cyan);
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
font-size: 12px;
}
.footer p {
color: var(--white);
font-size: 16px;
line-height: 1.7;
}
.footer h6 {
color: var(--cyan);
font-size:20px;
    font-family: "Teko", sans-serif;
font-weight: 700;
letter-spacing: 0.08em;
text-transform: uppercase;
margin-bottom: 18px;
}
.footer-links { list-style: none; padding: 0; margin: 0; }
.footer-links li { margin-bottom: 10px; }
.footer-links a {
color:var(--white);
text-decoration: none;
font-size:16px;
transition: color 0.2s;
}
.footer-links a:hover { color: var(--cyan); }
.footer-links li.footer-address { color: var(--white); font-size: 16px; line-height: 1.5; }
.footer-address-label { display: block; color: var(--cyan); font-size: 13px; letter-spacing: 0.08em; text-transform: uppercase; margin-bottom: 2px; }
.footer-divider {
border-color: var(--border);
margin: 40px 0 22px;
}
.footer-bottom {
color: var(--white);
font-size: 0.78rem;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 8px;
}
.footer-socials { display: flex; gap: 16px; }
.footer-socials a {display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 50%; background: #E0E0E0; color: #555; transition: background 0.3s, color 0.3s; }
.footer-socials a svg { width: 18px; height: 18px; fill:var(--black);  }
.footer-socials a:hover { background: var(--cyan); color: #fff; }
.footer-socials a:hover svg{  fill: #fff; }



/*----------------------------
         FOOTER
----------------------------*/

.hero-innernal-section {background: var(--black);padding: 125px 0 20px;position: relative;overflow: hidden;}
.hero-innernal-section::before {content: ''; position: absolute; inset: 0; background: url('../images/1-Home.png') center/cover no-repeat; opacity: 0.18; }
.hero-content { position: relative; z-index: 1; }
.hero-innernal-section h1 {
font-size: clamp(2.4rem, 5vw, 3.6rem);
font-weight: 700;
color: var(--white);
font-family: "Teko", sans-serif;
line-height: 1.18;
text-align: center;
margin: 0;
padding: 0;
}
.hero-innernal-section h1 span { color: var(--cyan); }
.hero-innernal-section p {
color: #fff;
font-size:18px;
max-width: 100%;
line-height: 1.7;
margin-bottom: 0;
text-align: center;
}


/*----------------------------------------*/
/*  9.3 Text-slide Css
/*----------------------------------------*/
.contact-text-moving{background: var(--black);}

.des-text-item span {
  position: relative;
  padding-right: 95px;
  margin-right: 30px;
  font-weight: 500;
  font-size:100px;
  line-height: 1;
  letter-spacing: 0.03em;
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--white);
  font-family: "Teko", sans-serif;

}

.des-text-item span::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  transform: translateY(-50%);
}
.des-text-item span::after {
    width: 30px;
    height: 30px;
  }

  .tp-text-slide-wrapper {
  padding: 13px 0 13px 0;
}
.tp-text-slide-wrapper.slide-transition {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.tp-text-slide-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--tp-common-white);
}
.tp-text-slide-title::after {
  content: "";
  height: 8px;
  width: 8px;
  margin-left: 22px;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-2px);
  background-color: var(--white);
}
.tp-text-slide-active .swiper-slide {
  width: auto;
}




/* ===============================
   Moving Text Style
================================= */

.contact-text-moving {
    position: relative;
    overflow: hidden;
    padding: 60px 0;
    background: #000;
}

.contact-slider-item a {
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    transition: 0.3s;
    white-space: nowrap;
}

.contact-slider-item a:hover {
    color: var(--green);
}

/* ===============================
   Custom Cursor
================================= */

.contact-slider-item{
    position: relative;
    display: inline-block;
}

.cursor-btn{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    font-size: 60px;
    font-weight: 500;
    overflow: hidden;
}

.read-more-cursor{
    position: fixed;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
    background: var(--cyan);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.25s ease;
    z-index: 9999;
}

.cursor-btn:hover .read-more-cursor{
    transform: translate(-50%, -50%) scale(1);
}
